.account-setup-container .form-submit {
  padding: 1em 0 0 0;
  text-align: right;
}

.account-setup-container .form-submit .button {
  margin: 0;
}

.account-item {
  padding: 5px;
}

.account-item__balance,
.account-total {
  float: right;
}

.account-item__balance.red {
  color: red;
}

.account-item__balance.green {
  color: green;
}

.accounts-form__empty {
  text-align: center;
}