.transaction-container .green {
  color: green;
}

.transaction-container .red {
  color: red;
}

.transaction-form__date .field {
  display: block !important;
}

.transaction-dropdown {
  margin: 10px;
}

.transactions-form__empty {
  text-align: center;
}