.report-container .report-container__picker {
  margin: 10px;
}

.report-container .report-container__info {
  text-align: center;
  margin: 20px;
}

.report-container .report-container__exportBtn {
  float: right;
}