.report-container .report-container__picker {
  float: right;
}

.report-container .report-container__info {
  text-align: center;
  margin: 20px;
}

.report-container .menu {
  align-items: center;
  justify-content: center;
}

.report-container .segment {
  border: none;
  box-shadow: none;
}